
@if ((int)ViewBag.ChildMenuMobileCount > 0)
{
    <span class="nav-vertical__icon fa fa-plus" aria-expanded="false" aria-controls="@ViewBag.categoryId" data-target="#@ViewBag.categoryId" data-toggle="collapse"></span>
    <ul id="@ViewBag.categoryId" style="list-style-type: none;" class="menu-child collapse" data-parent="#accordionMobile">
        @foreach (var item in ViewBag.ChildMenuMobile)
        {
            <li class="menu-child__item">
                <a href="@Url.Content(item.link + '/'+ item.id)" class="menu-child__link">@item.name</a>
                @Html.Action("GrandChildrenPartial", "Category", new { parentId = item.id })
            </li>
        }
    </ul>
}
