
@using WebsiteThucPhamSach_VS2.Models
@using WebsiteThucPhamSach_VS2.Common
@model feedback

<style type="text/css">

    /*.rating {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .rating > input{
        display: none;
        
    }
        .rating > span {
            font-size: 2.1rem;
            position: relative;
            width: 1em;
            font-size: 2vw;
            cursor: pointer;
            margin-right: 6px;
        }

    input:checked ~ span,
    span:hover, span:hover ~ span {
        color: #FFD600;
    }*/

    /*.rating {
        display: flex;
        flex-direction: row-reverse;
    }

        .rating > input {
            display: none
        }

        .rating > label {
            position: relative;
            width: 1em;
            font-size: 2vw;
            color: #FFD600;
            cursor: pointer
        }

            .rating > label::before {
                content: "\2605";
                position: absolute;
                opacity: 0
            }

            .rating > label:hover:before,
            .rating > label:hover ~ label:before {
                opacity: 1 !important
            }

        .rating > input:checked ~ label:before {
            opacity: 1
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4
        }*/


    /*.rate {
        display: inline-block;
        border: 0;
    }
        .rate > input {
            display: none;
        }
        .rate > label {
            float: right;
        }
            .rate > label:before {
                display: inline-block;
                font-size: 2rem;
                padding: .3rem .2rem;
                margin: 0;
                cursor: pointer;
                font-family: FontAwesome;
                content: "\f005 ";
            }
            .rate > label:last-child:before {
                content: "\f005";
                font-family: FontAwesome;
            }
        .rate .half:before {
            content: "\f089 ";
            position: absolute;
            padding-right: 0;
        }
        input:checked ~ label,
        label:hover, label:hover ~ label {
            color: #73B100;
        }

        input:checked + label:hover, input:checked ~ label:hover,
        input:checked ~ label:hover ~ label,
        label:hover ~ input:checked ~ label{
            color: #A6E72D;
        }*/

</style>
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12">
            <form id="form-add-feedback">
                <div class="row no-gutters pt-5 pb-5">
                    <div class="col-4">
                        1. Đánh giá của bạn về sản phẩm này:
                    </div>
                    <div class="col-8">
                        @*<div class="rating">
                        <input type="radio" name="rating" value="5" id="5">
                        <label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4">
                        <label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3">
                        <label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2">
                        <label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1">
                        <label for="1">☆</label>
                    </div>*@
                        <div class="rating">
                            @Html.RadioButtonFor(feedback => feedback.star, "1")
                            <span class="far fa-star text-warning"></span>
                            @Html.RadioButtonFor(feedback => feedback.star, "2")
                            <span class="far fa-star text-warning"></span>
                            @Html.RadioButtonFor(feedback => feedback.star, "3")
                            <span class="far fa-star text-warning"></span>
                            @Html.RadioButtonFor(feedback => feedback.star, "4")
                            <span class="far fa-star text-warning"></span>
                            @Html.RadioButtonFor(feedback => feedback.star, "5")
                            <span class="far fa-star text-warning"></span>
                        </div>
                        @Html.ValidationMessageFor(feedback => feedback.star, "", new { @class = "text-error" })
                        @*<div class="rate">
                        <input type="radio" id="rating10" name="rating" value="10" />
                        <label for="rating10" title="5 stars"></label>
                        <input type="radio" id="rating9" name="rating" value="9" />
                        <label class="half" for="rating9" title="4 1/2 stars"></label>
                        <input type="radio" id="rating8" name="rating" value="8" />
                        <label for="rating8" title="4 stars"></label>
                        <input type="radio" id="rating7" name="rating" value="7" />
                        <label class="half" for="rating7" title="3 1/2 stars"></label>
                        <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
                        <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                        <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
                        <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                        <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 stars"></label>
                        <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 stars"></label>
                    </div>*@
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12">
                        2. Tiêu đề của nhận xét:
                    </div>
                    <div class="col-12 mt-4">
                        <div class="form-group">
                            @Html.TextBoxFor(feedback => feedback.title, "", new { @class = "form-control input-size input-height input-share", @Placeholder = "Nhập tiêu đề nhận xét" })
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12">
                        3. Viết nhận xét của bạn bên dưới:
                    </div>
                    <div class="col-12 mt-4">
                        <div class="form-group">
                            @Html.TextAreaFor(feedback => feedback.comment, new { @class = "form-control input-size", @rows = "6", @Placeholder = "Nhập nội dung nhận xét" })
                            @Html.ValidationMessageFor(feedback => feedback.comment, "", new { @class = "text-error" })
                        </div>
                    </div>
                </div>
                <div class="row no-gutters mt-3">
                    <div class="col-12">
                        <input id="add-feedback" onclick="return validateFeedback();" class="btn p-3 custom-btn btn-lg bg-green text-light" type="submit" value="Gửi nhận xét" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

