@using WebsiteThucPhamSach_VS2.Models;

@{
    ViewBag.Title = "Trang Chủ";
}
<div class="slide-main">
    @Html.Action("SlidePartial", "Slide")
</div>
@Html.Partial("_LeavesPartial")
<div class="new-product-main">
    <h2 class="title-share">Sản phẩm mới</h2>
</div>
@Html.Partial("_LeavesPartial")
<div class="featured-product-main">
    @Html.Action("FeaturedProductPartial", "Home")
</div>
@Html.Partial("_LeavesPartial")
<div class="sell-product-main">
    <h2 class="title-share">Sản Giảm Giá</h2>
</div>
@Html.Partial("_LeavesPartial")
<div class="featured-news">
    <h2 class="title-share">Tin Tức Nổi Bật</h2>
</div>