@using WebsiteThucPhamSach_VS2.Models
@using WebsiteThucPhamSach_VS2.Common
@model product

@{
    Utils utils = new Utils();
}

<div class="modal fade pr-0 pr-lg-2" id="modal-quick-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-body ml-3 mr-3 pb-5">
                <div class="modal-close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="model-content container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6 left">
                            @Html.Action("GalleryForDetailProduct", "Common", new { moreImages = Model.more_images})        
                        </div>
                        <div class="col-12 col-md-6 quick-view-right">
                            <h2 class="font-weight-bold mt-3 mb-3">
                                @Model.name
                            </h2>
                            <div class="mt-2 d-flex">
                                @{
                                    int totalFeedback = new FeedbacksModel().getTotalFeedbackByProductId(Model.id);
                                    float totalRate = new FeedbacksModel().getTotalFeedbackByProductId(Model.id);
                                    float totalStar = new FeedbacksModel().getTotalStarByProductId(Model.id);
                                    float avgStar = float.IsNaN(totalStar / totalRate) ? 0 : (totalStar / totalRate);
                                }
                                <div id="@("rateYo"+ Model.id + "modal")" class="mr-3"></div>  (@totalFeedback) đánh giá
                                <script type="text/javascript">
                                      $("#@("rateYo"+ Model.id + "modal")").rateYo({
                                                rating: @avgStar,
                                                readOnly: true,
                                                starWidth: "20px",
                                                spacing: "5px",
                                                ratedFill: "#ffc120"
                                      });
                                </script>
                            </div>
                            <div class="mt-3 mb-3">
                                @{
                                    var statusName = Model.total_product > 0 ? "Còn hàng" : "Đã hết hàng";
                                }
                                Trạng thái:
                                <span class="text-danger ml-2 font-weight-bold">@statusName</span>
                            </div>
                            <div class="mt-2 mb-2">
                                @if (Model.price_promotion != null)
                                {
                                    <span class="mr-5 font-weight-bold">
                                        @{
                                            var giamGia = String.Format("{0:0}", Model.price * ((100 - Model.price_promotion) / 100));
                                        }
                                        @utils.FormatPrice(giamGia.ToString()) đ/Kg
                                    </span>
                                    <span class="font-weight-normal"><del>@utils.FormatPrice(Model.price.ToString()) đ/Kg</del></span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">@utils.FormatPrice(Model.price.ToString()) đ/Kg</span>
                                }
                            </div>
                            <div class="mt-3 mb-2 product-desc">
                                <div>Mô tả:</div>
                                <div>@Model.description</div>
                            </div>
                            <div class="column-add-cart pl-1">
                                @{
                                    var enable = Model.total_product > 0 ? "" : "disabled";
                                }
                                <div class="d-inline">Số lượng:</div>
                                <div class="d-flex mt-3 p-2">
                                    <input id="soluong" onblur="value = value == '' ? 1 : value;" oninput="validity.valid||(value=1);" name="soluong" class="nhapsoluong p-3 mr-4" type="number" value="1" min="1" max="20" />
                                    <input type="submit" class="btn bg-green text-light font-weight-bold btn-lg-lg btn-sm add-cart" data-id="@Model.id" @enable value="Cho vào giỏ hàng" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
