@using WebsiteThucPhamSach_VS2.Common
@using WebsiteThucPhamSach_VS2.Models
@model List<product>
@{
    Utils utils = new Utils();
}

<div class="featured-products">
    <h2 class="title-share mt-1 mb-5 pb-4">Sản Phẩm Dành Riêng Cho Bạn</h2>
    <div class="featured-products-content">
        @foreach (var product in Model)
        {
            <div class="featured-products-item p-3 product-for-your">
                @{
                    product.image = product.image != " " ? product.image : "https://via.placeholder.com/250x250";
                }
                <div class="box-photo">
                    <img class="img-thumbnail" src="@Url.Content(product.image)" />
                    <div class="box-order d-flex align-items-center justify-content-center">
                        <a href="#" data-id="@product.id" class="quick-view mr-3 d-flex align-items-center justify-content-center" data-toggle="tooltip" title="Xem nhanh"><i class="far fa-eye"></i></a>
                        <a href="#" class="add-cart d-flex align-items-center justify-content-center" data-toggle="tooltip" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                    </div>
                </div>
                <div class="featured-item-content pt-3 pb-3">
                    <div class="product-name">
                        <a href="~/Chi-Tiet-San-Pham/@product.id" class="p-2 text-black">@product.name</a>
                    </div>
                    <div class="product-star">
                        5 sao (250)
                    </div>
                    <div class="product-price">
                        @if (product.price_promotion != null)
                        {
                            <span class="price-promotion font-weight-bold">
                                @{
                                    var giamGia = String.Format("{0:0}", product.price * ((100 - product.price_promotion) / 100));
                                }
                                @utils.FormatPrice(giamGia.ToString()) đ/Kg
                            </span>
                            <span class="price font-weight-normal"><del>@utils.FormatPrice(product.price.ToString()) đ/Kg</del></span>
                        }
                        else
                        {
                            <span class="price font-weight-bold">@utils.FormatPrice(product.price.ToString()) đ/Kg</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="mt-5 mb-5 d-flex justify-content-center">
        <a id="load-more" class="btn custom-btn bg-green text-white">Xem thêm</a>
    </div>
</div>

