
@using WebsiteThucPhamSach_VS2.Models
@using WebsiteThucPhamSach_VS2.Common
@using PagedList.Mvc;
@model PagedList.PagedList<product>
@{
    Utils utils = new Utils();
}

@if (Model.Count > 0)
{
    <div class="products">
        @foreach (var product in Model)
        {
            <div class="products-item p-3">
                @{
                    product.image = product.image != " " ? product.image : "https://via.placeholder.com/250x250";
                    var enable = product.total_product > 0 ? "" : "visibility: hidden";
                }
                @if (product.price_promotion > 0)
                {
                    <span class="sale">Giảm giá: -@product.price_promotion%</span>
                }
                <div class="box-photo">
                    <img class="img-thumbnail img-custome" src="@Url.Content(product.image)" />
                    <div class="box-order d-flex align-items-center justify-content-center">
                        <a href="#" data-id="@product.id" class="quick-view mr-3 d-flex align-items-center justify-content-center" data-toggle="tooltip" title="Xem nhanh"><i class="far fa-eye"></i></a>
                        <a href="#" data-id="@product.id" style="@enable" class="add-cart d-flex align-items-center justify-content-center" data-toggle="tooltip" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                    </div>
                </div>
                <div class="products-item-content pt-3 pb-3">
                    <div class="product-name">
                        <a href="~/Chi-Tiet-San-Pham/@product.id" class="p-2 text-black">@product.name</a>
                    </div>
                    <div class="product-star">
                        @Html.Action("RatingStar", "Common", new { id = product.id})
                    </div>
                    <div class="product-price">
                        @if (product.price_promotion != null)
                        {
                            <span class="price-promotion font-weight-bold">
                                @{
                                    var giamGia = String.Format("{0:0}", product.price * ((100 - product.price_promotion) / 100));
                                }
                                @utils.FormatPrice(giamGia.ToString()) đ
                            </span>
                            <span class="price font-weight-normal"><del>@utils.FormatPrice(product.price.ToString()) đ</del></span>
                        }
                        else
                        {
                            <span class="price font-weight-bold">@utils.FormatPrice(product.price.ToString()) đ</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="pagingProducts" class="justify-content-end d-flex mt-5">
        @Html.PagedListPager(Model, page => Url.Action("Products", new { order = ViewBag.order, page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "ok" }))
    </div>
}
else
{
    <div>Sản phẩm bạn đang tìm không có.</div>
}