@using WebsiteThucPhamSach_VS2.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="wrapper-change-password">
    <div class="change-password">
        <h3 class="change-password__heading">Đổi mật khẩu</h3>
        <div class="change-password__content">
            @using (Html.BeginForm("ChangePassword", "Header", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label for="password">Mật khẩu củ*</label>
                    <div class="form-group">
                        @Html.PasswordFor(ChangePasswordModel => ChangePasswordModel.password, new { @class = "form-control input-password", @Placeholder = "Vui lòng nhập mật khẩu củ" })
                        @Html.ValidationMessageFor(ChangePasswordModel => ChangePasswordModel.password, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-password">Mật khẩu mới*</label>
                    <div class="form-group">
                        @Html.PasswordFor(ChangePasswordModel => ChangePasswordModel.new_password, new { @class = "form-control input-new-password", @Placeholder = "Vui lòng nhập mật khẩu mới" })
                        @Html.ValidationMessageFor(ChangePasswordModel => ChangePasswordModel.new_password, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Xác nhận mật khẩu mới*</label>
                    <div class="form-group">
                        @Html.PasswordFor(ChangePasswordModel => ChangePasswordModel.confirm_new_password, new { @class = "form-control input-confirm-new-password", @Placeholder = "Xác nhận mật khẩu mới" })
                        @Html.ValidationMessageFor(ChangePasswordModel => ChangePasswordModel.confirm_new_password, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="form-group">
                    <input id="save-change-password" class="btn btn-block bg-green custom-change-password" type="submit" value="Lưu" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('#save-change-password').click(function () {
                const currentPassword = $("#password").val();
                const newPassword = $("#new-password").val();
                const confirmNewPassword = $("#confirm-new-password").val();
                if (currentPassword == "") {
                    $(".password-error").text("Vui lòng nhập mật khẩu hiện tại");
                } else {
                    $(".password-error").text("");
                }
                if (newPassword == "") {
                    $(".new-password-error").text("Vui lòng nhập mật khẩu mới");
                } else {
                    $(".new-password-error").text("");
                }
                if (confirmNewPassword == "") {
                    $(".confirm-new-password-error").text("Vui lòng nhập xác nhận mật khẩu mới");
                } else {
                    $(".confirm-new-password-error").text("");
                    if (newPassword !== confirmNewPassword) {
                        $(".confirm-new-password-error").text("Mật khẩu và mật khẩu xác nhận không khớp");
                    } else {
                        $(".confirm-new-password-error").text("");
                    }
                }
            });
        });
    </script>*@   
}