
@using WebsiteThucPhamSach_VS2.Models
@model IList<UsersModels>


@{
    string url = Html.Action("getLogo", "Header").ToString();
    url = url != "" ? url : "https://via.placeholder.com/200x75?text=Logo";
}

<div class="header__top">
    @*<div class="container">
        <div class="row">
            <div class="col-12">*@
                <ul class="topbar-md">
                    <li class="topbar-md__item">
                        <i class="fa fa-phone"></i>
                        Hotline:
                        <span>0972612445</span>
                    </li>
                    @if (Session["id"] == null)
                    {
                        <li class="topbar-md__item"><a href="~/Dang-Nhap" class="topbar-md__link topbar-md__link--opacity">Đăng nhập</a></li>
                        <li class="topbar-md__item">/</li>
                        <li class="topbar-md__item"><a href="~/Dang-Ky" class="topbar-md__link topbar-md__link--opacity">Đăng ký</a></li>
                    }
                    else
                    {
                        <li class="topbar-md__item">
                            <a class="topbar-md__link" href="#">
                                @Session["display_name"]
                                <span class="topbar-md__arrow-down">
                                </span>
                            </a>
                        </li>
                    }
                </ul>
                <div class="wrap-info">
                    <ul class="wrap-info__group">
                        <li class="wrap-info__item"><a href="~/Thong-Tin-Ca-Nhan" class="wrap-info__link">Thông tin cá nhân</a></li>
                        <li class="wrap-info__item"><a href="~/Doi-Mat-Khau" class="wrap-info__link">Đổi mật khấu</a></li>
                        <li class="wrap-info__item"><a href="~/Dang-Xuat" class="wrap-info__link">Đăng xuất</a></li>
                    </ul>
                </div>
            @*</div>
        </div>
    </div>*@
</div>
<div class="header__content">
    <div class="header__box">
        <a href="~/Trang-Chu" alt="Logo"><img class="img-responsive" src=@Url.Content(url)></a>
    </div>
    <div class="header__box">
        <div class="header__info">
            <img class="shipped" src="~/Img/shipped.png">
            <div class="header__body">
                <b>Miễn phí vận chuyển</b>
                <br />Bán kính trên 100 Km
            </div>
        </div>
        @using (Html.BeginForm("SearchProduct", "Home", FormMethod.Post))
        {
            <div class="header__search header__search-mobile">
                <input id="search__tags" name="searchTags" class="search__input search__tags" type="text" placeholder="Tìm kiếm" />
                <input type="submit" class="header__icon-search btn-default btn-image" aria-label="Search" value="">
            </div>
        }
    </div>
    <div class="header__box">
        <div class="header__info">
            <img class="marker" src="~/Img/marker.png">
            <div class="header__body">
                <b>Địa chỉ cửa hàng</b>
                <br />107/A Đoàn Thị Liên, Phú Lợi,TP.Thủ Dầu Một
            </div>
        </div>
    </div>
    <div id="info-cart" class="header__box">
        <div class="icon-cart">
            <a href="~/Gio-Hang">
                <i class="fa fa-shopping-cart"></i>
                <span>
                    @Html.Action("getProductCountInCart", "Home")
                </span>
            </a>
        </div>
    </div>
    <div class="header__box active">
        <div class="menu__icon">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div class="header__box d-none d-md-block">
        @using (Html.BeginForm("SearchProduct", "Home", FormMethod.Post))
        {
            <div class="header__search">
                <input id="search__tags" name="searchTags" class="search__input search__tags" type="text" placeholder="Tìm kiếm" />
                <input type="submit" class="header__icon-search btn-default btn-image" aria-label="Search" value="">
            </div>
        }
    </div>
</div>

<div class="sidebar-menu">
    <div class="sidebar-menu__top">
        <span class="close">X</span>
    </div>
    <div class="sidebar-menu__logo">
        <img class="img-responsive" src="~/Img/logo.png" alt="logo" />
    </div>
    <div class="sidebar-menu__content panel-group" id="accordionMobile">
        <ul class="nav-vertical__group">
            @foreach (var item in ViewBag.Menu)
            {
                <li class="nav-vertical__item">
                    @{
                        item.link = item.link == null ? "#": item.link;
                    }
                    <a href="@Url.Content(item.link)" class="nav-vertical__link">@item.name</a>
                    @Html.Action("ChildMenuMobilePartial", "Category", new { parentId = item.id })
                </li>
            }

            @*<li class="nav-vertical__item"><a href="~/Dang-Nhap" class="nav-vertical__link">Đăng nhập</a></li>
        <li class="nav-vertical__item"><a href="~/Dang-Ky" class="nav-vertical__link">Đăng ký</a></li>
        <li class="nav-vertical__item"><a href="~/Trang-Chu" class="nav-vertical__link">Trang chủ</a></li>
        <li class="nav-vertical__item" aria-expanded="false" aria-controls="ok" data-target="#ok" data-toggle="collapse">
            <a class="nav-vertical__link">Sản phẩm</a>
            <span class="nav-vertical__icon fa fa-plus"></span>
        </li>
        <ul id="ok" class="menu-child collapse" data-parent="#accordion">
            <li class="menu-child__item"><a href="#" class="menu-child__link">Trái cây</a></li>
            <li class="menu-child__item"><a href="#" class="menu-child__link">Thực phẩm</a></li>
            <li class="menu-child__item"><a href="#" class="menu-child__link">Hải sản</a></li>
        </ul>
        <li class="nav-vertical__item"><a class="nav-vertical__link">Giới thiệu</a></li>
        <li class="nav-vertical__item"><a class="nav-vertical__link">Liên hệ</a></li>*@
        </ul>
    </div>
</div>