@using WebsiteThucPhamSach_VS2.Models
@model List<admin>
@{
        ViewBag.Title = "Quản Trị Viên";
        Layout = "~/Areas/Dashboard/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container-fluid p-3">
    <a href="~/Dashboard/Admin/Create" class="btn btn-primary btn-sm mt-3 mb-3 p-2 add-role">Thêm mới</a>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Quản trị viên</div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Mật khẩu</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Quyền</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Công cụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var name = "";
                            if (item.status == true)
                            {
                                name = "Hoạt động";
                            }
                            else
                            {
                                name = "Chặn";
                            }
                            <tr>
                                <td>@item.id</td>
                                <td>@item.full_name</td>
                                <td>@item.email</td>
                                <td>@item.password</td>
                                <td>
                                    @if (item.gender == true)
                                    {
                                        <span>Nam</span>
                                    }
                                    else
                                    {
                                        <span>Nữ</span>
                                    }
                                </td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.date_of_birth)</td>
                                <td>@item.phone_number</td>
                                <td>@item.address</td>
                                <td>
                                    @if (item.role1.name == null)
                                    {
                                        <span></span>
                                    }
                                    else {
                                        @item.role1.name
                                    }
                                </td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.start_time)</td>
                                <td>
                                    <input type="submit" class="status btn btn-info" data-id="@item.id" value="@name" />
                                </td>
                                <td>
                                    <a href="~/Dashboard/Admin/Edit?id=@item.id" data-id="@item.id" class="btnUpdateAdmin ml-2 text-warning" data-toggle="tooltip" title="Sửa">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="#" data-id="@item.id" class="btnDeleteAdmin" data-toggle="tooltip" title="Xóa">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('.admin').addClass("active");


            $('.btnDeleteAdmin').off('click').on('click', function () {
                if (confirm("Bạn chắc chắn muốn xóa quản trị viên này?")) {
                    let id = $(this).data('id');
                    $.ajax({

                    })
                } else {
                    return false;
                }
            });

            $('.status').click(function () {
                $.ajax({
                    url: "/Dashboard/Admin/OpenStatus",
                    data: { id: $(this).data("id") },
                    dataType: "json",
                    type: "POST",
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = "/Dashboard/Admin/Index";
                            //$('#dataTable').load("/Dashboard/Admin/Index");
                        }
                    }
                })
            });
        })
    </script>
}